<h3>Appointment List</h3>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <input [(ngModel)]="newAppointmentTitle" class="form-control" placeholder="Enter an Appointment">
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <input [(ngModel)]="newAppointmentDate" class="form-control" placeholder="Select a Date" type="date">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button (click)="addAppointment()" class="btn btn-primary">Add Appointment</button>
    </div>
  </div>
  <ul class="list-group mt-3">
    <li *ngFor="let Lists of appointmentLists; let i = index" class="list-group-itemtermi">
      {{ Lists.appointmentTitle }}
      {{ Lists.appointmentDate | date:'dd-MM-yyyy' }}
      <button (click)="deleteAppointment(i)" class="btn btn-danger float-right">Delete</button>
    </li>
  </ul>
</div>
